html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main, .content-wrapper {
    overflow-x: hidden;
    width: 100%;
}


body{
    background: #f5f7fa;
}
/*nav*/
header{
    display: flex;
    justify-content: space-between; 
    padding: 25px 40px; /* changed padding to make it more spacious */
    height: auto;
    background: #1e3c72;    
    color: #f5f7fa;
    font-weight: bold;
    align-items: center;
    width: 100%; 
    box-sizing: border-box;
}

nav{
display: flex;
justify-content:space-around ; /*changed from space-between to space-around to give more space between the links */
align-items: center;
}


header{
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 100%;

}

#dark-mode-toggle{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.logo svg {
width: 60px;
}

nav a{
    color: white;
    margin-left: 20px;
    text-decoration:none ;
    
}

/*hero*/
.hero {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
    align-items: center;
    background: linear-gradient( to right, #1e3c72, #2a5298);
    color: white;
    width: 2

}
.hero img {
    width: 500px;
    max-width: 100%;
    height: auto;
}

.btn {
    padding: 10px 15px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 5px grey;
    margin-top: 7px;
}

/*button*/
.hero-text .btn {
    margin-top: 45px;
}

/*vehicles*/
.vehicles {
    padding: 70px 40px;
    margin-bottom:7px;
    display: flow-root;
    color: rgb(236, 109, 12);

}

.section-title {
    margin-top: 40px;
}

.card-container {
    display: flex;
    gap: 45px;
    margin-top:20px ;
    flex-wrap: wrap;

}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,51,102,0.2);
    box-shadow: 0 10px 30px rgba(0,0,0.15);
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 250px; /*fixed width to maintain uniformity */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 190px;  /*fixed height to maintain uniformity */
    max-height: 250px;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
    display: block;
}

/*about*/
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
padding: 10px 0px;
margin-top: 30px;
 background: #e0eaf8;
}


@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

.about-text p {
    font-family: 'Cause', sans-serif;
    flex: 1.6px;
    font-size: medium;
    font-weight: bold;
    font-size: large;
    max-width: 600px;
}
.about-text h2 {
    font-family: 'Cause', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-image img {
    width: 180px;
    max-width: 450px;
    height: auto;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 30px;
    object-fit: cover;
    object-position: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
transition: clip-path 0.6s cubic-bezier(0.4, 0, 0.2, 1), transform 0.4s ease;
}
.about-image img:hover,  
.about-image img:active {
    clip-path: polygon(0% 0%, 100% 0%,100% 50%, 100% 100%, 0% 100%, 0% 50%);
    transform: scale(1.03);
}
    


/*contact*/
.contact {
    padding: 40px;
}
/*space between the form and contact*/
.contact-container{
display: flex;
justify-content: space-between;
gap: 30px;
}

/*this alligns whatsapp*/
.contact-method {
    display: flex;
    gap: 60px;
    margin-top: 30px;
}

.contact-form{
width: 350px;
margin: 20px auto;
padding: 20px;
background: white;
border-radius: 10px;
overflow: hidden;
}

.contact-form{
    flex-shrink: 0;
}

.contact-form {
    width: 90%;
    min-width: 300px;
    max-width: 400px;
}

/*stacks icon ontop text*/
.method-item {
    display: flex;
    flex-direction: column;
    align-items:center ;
    text-align: center;
}
/*icon stylig*/
.method-item i {
    font-size: 35px;
    margin-bottom: 15px;
    display: block;
}

/*brand colors*/
.fa-whatsapp { color: #25d366;}

.fa-phone-alt {color: #1e3c72;}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #050505;
    color: #ffffff;
}

body.dark-mode header {
    background-color: #311da0;
}

body.dark-mode .hero {
    background: linear-gradient(to right, #1a1a1a, #2887cb);
}

body.dark-mode .card {
    background-color: #333030;
    color: #ffffff;
}

body.dark-mode section {
    background-color: #030d7b;
}

body.dark-mode .about-container {
    background-color: #2d2828;
}

body.dark-mode form {
    background-color: #0f208b;
    color: #ffffff;
}
/* form bg dark mode*/
body.dark-mode input, body.dark-mode textarea {
    background-color: #352e2e;
    color: #ffffff;
    border: 1px solid #0d129d;
}

/* Hamburger button*/
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* mobile menue */
#navLinks{
    display: flex;
    gap: 25px;
    
}

 @media  screen and  (max-width: 768px)
{
   .hamburger {
    display: block;
    z-index: 1001;
   }

#navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 250px;
    right: 2.03px;
    background-color: #1e3c72;
    padding: 20px 30px;
    box-shadow: 0 1px 20px rgba(0,0,0,0.1);

    /*changes made to make shi transparent*/
    background-color: rgba(30,60 ,114, 0.4 );
   }

   #navLinks.active {
    display: flex;
   }

   #navLinks a {
    color: white;
    font-size: 18px;
    margin: 15px 0;
    text-decoration: none;
   }
}

/*@media  screen and (max-width: 769px){
    .hamburger {
        display:none; ;
    }

   #navLinks {
        display: flex;
        gap: 25px;
    }

   /* .hero img {
        width: 100%;
        max-width: 400px;
        margin-top: 20px;
    }*/
